ART_PROJECT="sansa-" # sandbox
# ART_PROJECT="san-gen-" # productie

ART_API_URL="https://decor.nictiz.nl/exist/apps/api"
ART_DOWNLOAD_URL="https://decor.nictiz.nl/fhir/4.0"

ART_USER=""
ART_PASSWORD=""

ORGANIZATION="MST"
SOURCE="HIX"

DEBUG = 1 # 1 = local, 0 = upload
